In [79]:
import pandas as pd
import numpy as np
county1=pd.read_csv('./county_data_final.csv')
county2=pd.read_csv('./bankrupcy_data_final.csv')
county1['county_name']=county1.geo_name.str.split(',').str[0]
county1['county_name']=county1['county_name'].str.lower()
county2['county']=county2['county'].str.lower()
len(np.unique(county2['county']))
len(np.unique(county1['county_name'].astype(str)))
county1['county_name']=county1['county_name'].str.replace(' county', '')
county1['county_name']=county1['county_name'].str.replace(' puma', '')
county1['county_name']=county1['county_name'].str.replace(' census', '')
county1['county_name']=county1['county_name'].str.replace(' tract', '')
county2['county']=county2['county']
county1['geoid_join']=county1['geo_id'].str[-4:]

In [99]:
county2['county code']=county2['county code'].astype(str)

In [111]:
county1.columns

Index(['year', 'geo_name', 'Unique key', 'geo_sumlevel', 'geo_id', 'avg_age',
       'avg_age_ft', 'avg_age_pt', 'income', 'unemployment',
       'mean_commute_minutes', 'owner_occupied_housing_units',
       'population_living_in_a_rural_area', 'county_name', 'geoid_join'],
      dtype='object')

In [112]:
county2.columns

Index(['year', 'county', 'county code', 'Total', ' Chap.7', ' Chap.11',
       ' Chap.12', 'Chap.13'],
      dtype='object')

In [78]:
counts

[('census', 23979),
 ('tract', 23968),
 ('puma', 1710),
 ('city', 803),
 ('&', 675),
 ('cities', 199),
 ('counties', 119),
 ('(north)', 117),
 ('(south)', 110),
 ('(west)', 95),
 ('(east)', 95),
 ('town', 91),
 ('municipio', 85),
 ('parish', 76),
 ('san', 70),
 ('central)', 67),
 ('st.', 59),
 ('(northwest)', 58),
 ('(central)', 57),
 ('of', 56)]

In [81]:
import re
county1['county_name']=county1['county_name'].astype(str)
county1['county_name']=[re.sub(r'\([^()]*\)','',x) for x in county1['county_name']]
county1['county_name']=[re.sub(r'puma','',x) for x in county1['county_name']]

In [116]:
print(final_county1.shape)
print(final_county2.shape)

(85310, 22)
(19947, 22)

In [113]:
final_county1=pd.merge(county1,county2,left_on=['county_name','year'],right_on=['county','year'],how='inner')

In [114]:
final_county2=pd.merge(county1,county2,left_on=['geoid_join','year'],right_on=['county code','year'],how='inner')
final_county2.to_csv('final_county2.csv')

In [115]:
final_county1.to_csv('final_county1.csv')

In [47]:
count=0
total_word_list=[]
for i in np.unique(county1['county_name'].astype(str)):
    total_word_list=total_word_list+i.split()
from collections import Counter
counts = Counter(total_word_list).most_common(20)

28022

In [93]:
county1.head(5)

,year,geo_name,Unique key,geo_sumlevel,geo_id,avg_age,avg_age_ft,avg_age_pt,income,unemployment,mean_commute_minutes,owner_occupied_housing_units,population_living_in_a_rural_area,county_name
0,2013,"Autauga County, AL","Autauga County, AL2013",county,05000US01001,NaN,NaN,NaN,53682.0,NaN,25.6470,0.768173,0.00,autauga
1,2014,"Autauga County, AL","Autauga County, AL2014",county,05000US01001,NaN,NaN,NaN,52475.0,NaN,26.3211,0.750985,0.00,autauga
2,2015,"Autauga County, AL","Autauga County, AL2015",county,05000US01001,NaN,NaN,NaN,51281.0,0.057,26.0002,0.739214,0.42,autauga
3,2016,"Autauga County, AL","Autauga County, AL2016",county,05000US01001,NaN,NaN,NaN,53099.0,0.059,25.5584,0.731635,0.42,autauga
4,2017,"Autauga County, AL","Autauga County, AL2017",county,05000US01001,NaN,NaN,NaN,NaN,0.052,0.0000,0.000000,0.42,autauga

In [96]:
county1.head(5)

,year,geo_name,Unique key,geo_sumlevel,geo_id,avg_age,avg_age_ft,avg_age_pt,income,unemployment,mean_commute_minutes,owner_occupied_housing_units,population_living_in_a_rural_area,county_name,geoid_join
0,2013,"Autauga County, AL","Autauga County, AL2013",county,05000US01001,NaN,NaN,NaN,53682.0,NaN,25.6470,0.768173,0.00,autauga,1001
1,2014,"Autauga County, AL","Autauga County, AL2014",county,05000US01001,NaN,NaN,NaN,52475.0,NaN,26.3211,0.750985,0.00,autauga,1001
2,2015,"Autauga County, AL","Autauga County, AL2015",county,05000US01001,NaN,NaN,NaN,51281.0,0.057,26.0002,0.739214,0.42,autauga,1001
3,2016,"Autauga County, AL","Autauga County, AL2016",county,05000US01001,NaN,NaN,NaN,53099.0,0.059,25.5584,0.731635,0.42,autauga,1001
4,2017,"Autauga County, AL","Autauga County, AL2017",county,05000US01001,NaN,NaN,NaN,NaN,0.052,0.0000,0.000000,0.42,autauga,1001